<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAMKTbD_3Bzy7o4J1WEGuVkxd57kBc-PbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>748059214340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.revathysupermarket.customer</string>
	<key>PROJECT_ID</key>
	<string>munna-supermarket</string>
	<key>STORAGE_BUCKET</key>
	<string>munna-supermarket.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748059214340:ios:d27e1052769143d8d76b51</string>
</dict>
</plist>